<section class="h-100 w-100 d-flex align-items-center justify-content-center">

    <div class="listing-wrapper p-5">

        <div class="d-flex align-items-center w-100 justify-content-end">
            <div class="d-flex flex-column gap-3">
                <button #customerModalTrigger type="button" class="btn btn-lg btn-secondary rounded-0" data-bs-toggle="modal" data-bs-target="#customerModal">+ Add Customer</button>
                <button #pinModalTrigger type="button" class="btn btn-lg btn-secondary  rounded-0" data-bs-toggle="modal" data-bs-target="#pinModal">+ Add Pin</button>
            </div>
        </div>

        <div class="d-flex flex-column gap-3">
            <h2>List of pins</h2>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">Title</th>
                        <th scope="col" class="text-center">Image</th>
                        <th scope="col" class="text-center">Collaboratory</th>
                        <th scope="col" class="text-center">Privacy</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pin of pins">
                        <th scope="row" class="align-middle fw-normal text-center">{{pin?.title | titlecase}}</th>
                        <td class="text-center align-middle">
                            <img class="w-100 object-fit-contain" [src]="pin?.image" [style.height]="'60px'">
                        </td>
                        <td class="text-center align-middle">
                            <div class="d-flex flex-column align-items-center">
                                <div class="customer-name" *ngFor="let collab of pin.collaboratory">
                                {{ getCustomerNameFromId(collab) }}
                            </div>
                            </div>
                        </td>
                        <td class="text-center align-middle">{{pin?.privacy | titlecase}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

</section>

<!-- ! Customer Modal -->
<app-create-customer
    [formGroup]="customerForm"
    [regions]="regions"
    [countries]="countries"
    (onSubmit)="createCustomer($event)"
></app-create-customer>
<!-- ! End of Customer Modal -->

<!-- ! Pin Modal -->
<app-create-pin
    [formGroup]="pinForm"
    [customers]="customers"
    (onSubmit)="createPin($event)"
></app-create-pin>
<!-- ! End of Pin Modal -->
