:root {
    --website-background-color: #ffffff;
    --header-color: #8db3ff;
    --primary-color: #00113B;
    --primary-contrast-color: #ffffff;
    --secondary-color: #121212;
    --tertiary-color: #ff9999;
    --quaternary-color: #dbecff;
    --max-viewport-width-m: 1024px;
}